[2018-11-17 18:34] monsij opened #2 "Improve background CSS"
The present CSS style is very basic. Give it a makeover to make it more appealing.
Do not forget to collect your static files using `collect static` before you submit your PR

[2018-11-17 18:51] monsij opened #3 "Add Contributors app"
This portal needs a separate page for all the developers who made it happen- everyone who has made it possible. Whether it is a small bug or a new feature all together. Craft a page fortified with CSS and Javascript for the same.

[2018-11-17 18:54] monsij opened #4 "Bootstrap typo"
`pro1\pro1\settings.py` has a typo for bootstrap under crispy-template field. Fix it correctly.

[2018-11-17 18:56] monsij opened #5 "Missing app in settings file"
The portal contains a noticeboard app, but it is not yet declared in the `settings.py` file. Instantiate it correctly.

[2018-11-17 18:58] monsij opened #6 "Transport Layer Security(TLS) Error"
For sending emails to users for registration and password reset, the security layer should be set as `True`. Make this change in `settings.py`

[2018-12-02 06:32] gopavasanth commented on #4
I'm working on this, I will make a patch-set sooner :)

[2018-12-02 12:49] gopavasanth commented on #6
I'm working on this, I will submit the patch sooner :-)

[2018-12-02 12:53] gopavasanth commented on #6
commit 370261076bcf8ebd3228469b367d8ca7446ba824

[2018-12-03 16:07] harry-hov commented on #2
Im on it

[2018-12-03 16:11] monsij commented on #2
@harry-hov  Additionally provide adequate amount of screenshots of the interface while you make your PR

[2018-12-03 19:48] harry-hov commented on #2
Sure

[2018-12-04 12:21] gopavasanth opened #8 "Typo in StudentPortal/pro1/users/models.py"
Traceback (most recent call last):
  File "manage.py", line 15, in <module>
    execute_from_command_line(sys.argv)
  File "/home/gopavasanth/.local/lib/python3.5/site-packages/django/core/management/__init__.py", line 381, in execute_from_command_line
    utility.execute()
  File "/home/gopavasanth/.local/lib/python3.5/site-packages/django/core/management/__init__.py", line 357, in execute
    dj

[2018-12-04 12:31] gopavasanth opened #9 "Find and Remove Unwanted Comments"
**Find and Remove Unwanted Comment like**
In StudentPortal/pro1/interviews/views.py
 Line 10: #return HttpResponse('<p> Hello </p>')

This makes code base to look pretty formal way

[2018-12-04 15:00] MarriVenkat commented on #9
I will work on this task :)

[2018-12-04 18:02] gutsytechster commented on #3
Hey I want to implement this feature. Can you help me?

[2018-12-04 18:04] gutsytechster commented on #3
So, my question is how are we gonna know about people's contribution. What I am guessing is that it might be done using GitHub API(just a guess, doesn't know much about it)!
.

[2018-12-04 20:07] monsij commented on #2
assigned @harry-hov

[2018-12-04 20:07] monsij commented on #8
assigned @arpit3018

[2018-12-04 20:19] monsij commented on #3
Presently go for only a page with the contributor detaisl hardcoded. Later as an improvement we can use APIs

[2018-12-05 06:40] monsij opened #12 "Footer redirect"
**Describe the bug**
Incorrect redirect

**Expected behavior**
A click on the button  "  :star:  Give us a star on Github " should redirect to [monsij/StudentPortal](https://github.com/monsij/StudentPortal).

**Screenshots**
![capture](https://user-images.githubusercontent.com/23289387/49494736-9e4db900-f886-11e8-867b-295879639b1d.JPG)

[2018-12-05 06:40] monsij commented on #12
Hi, I'm [GitMate.io](https://gitmate.io)!

It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the

[2018-12-05 07:58] gopavasanth commented on #12
I' will work on this, Please assign me :)

[2018-12-05 08:03] monsij commented on #9
This issue is open to all. You can work without getting assigned

[2018-12-05 08:06] monsij commented on #12
Assigned @gopavasanth

[2018-12-05 08:11] monsij commented on #4
Resolved  in #10

[2018-12-05 08:12] #4 closed

[2018-12-05 08:15] gutsytechster commented on #3
@monsij, Can I be assigned to this? I have filled up the assignment form.

[2018-12-05 08:17] gutsytechster commented on #3
Also, how should I look for contributors? I mean from the contributor's section in the project?

[2018-12-05 08:45] monsij commented on #12
Make a separate PR for this issue @gopavasanth . Also include a description as per the `pull_request_template.md`

[2018-12-05 08:48] monsij commented on #3
Assigned @gutsytechster

[2018-12-05 08:49] monsij commented on #3
Presently just add 3 -4 names : your own, @harry-hov , @r3trd , @monsij

[2018-12-05 09:57] gutsytechster commented on #3
Hey where should I add link to this page. On the home page in the side menu or somewhere else?

[2018-12-05 10:02] monsij commented on #3
Sidebar below the `Contacts`

[2018-12-05 10:03] modihere opened #14 "Add Python Decouple"
Add the [python decouple](https://pypi.org/project/python-decouple/) app which separates the settings file from the main Django app for security purposes.

1. All the important credentials (secret key, debug, email credentials, database credentials) present in settings.py should be defined and initialized in a ".env" file in the main project directory and the settings.py should fetch the data from

[2018-12-05 10:04] monsij commented on #14
[GitMate.io](https://gitmate.io) thinks a possibly related issue is https://github.com/monsij/StudentPortal/issues/3 (Add Contributors app).

[2018-12-05 10:07] monsij commented on #14
@modihere : Do you want to work on it?

[2018-12-05 10:09] modihere commented on #14
No no. Let the people learn. I have worked more than enough on Django and i don't have time now.
Too much for me. :P

[2018-12-05 20:39] monsij commented on #2
Work on it even more to give it better and better look @harry-hov . Good work as of now!

[2018-12-05 20:41] monsij commented on #12
Solved : #17

[2018-12-05 20:41] #12 closed

[2018-12-05 20:41] monsij commented on #5
Solved : #17

[2018-12-05 20:42] #5 closed

[2018-12-05 20:42] monsij commented on #6
Solved : #17

[2018-12-05 20:42] #6 closed

[2018-12-05 20:46] monsij opened #19 "Unusual display size"
The contributors page is displaying very large profile images. Give it an elegant look.
![contri2](https://user-images.githubusercontent.com/23289387/49542932-d8f23880-f8fc-11e8-9e84-cf4bcee16e9c.PNG)

[2018-12-05 20:52] monsij opened #20 "Current dynamic date,time,weather and user IP"
The portal lacks something which is very common,date and time. Even adding weather makes it more appealing. The position for it is below the sidebar. Add weather for Kolkata at present

[2018-12-05 22:47] harry-hov commented on #2
Thank you 😄
I'll do my best

[2018-12-05 23:03] monsij commented on #19
Assigned @harry-hov

[2018-12-06 01:30] nguptaa commented on #8
Please assign me this issue

[2018-12-06 01:51] nguptaa commented on #20
I would like to contribute to this issue.

[2018-12-06 02:17] akashgiricse commented on #14
@monsij , can I work on this issue?

[2018-12-06 02:35] nguptaa opened #22 "Add all packages in a new file"
It becomes a very hectic task to install required packages one by one. Hence creating a file containing all the packages will help users install all packages at once.

Create a new filename requirements.txt and add all the packages used in this project.

[2018-12-06 02:36] monsij commented on #22
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/3 (Add Contributors page), https://github.com/monsij/StudentPortal/issues/14 (Add Python Decouple), and https://github.com/monsij/StudentPortal/issues/5 (Missing app in settings file).

[2018-12-06 05:59] monsij commented on #14
Assigned @akashgiricse

[2018-12-06 06:01] monsij commented on #20
Assigned @nguptaa

[2018-12-06 11:30] #22 closed

[2018-12-06 15:29] monsij opened #25 "Enhancements to contributors page"
This issue extends issue #3 and PR #21 . Requirement to create a more informative contributors page.

[2018-12-06 15:30] monsij commented on #25
Assigned @harry-hov

[2018-12-06 15:31] monsij commented on #25
[GitMate.io](https://gitmate.io) thinks a possibly related issue is https://github.com/monsij/StudentPortal/issues/3 (Add Contributors page).

[2018-12-06 15:31] monsij commented on #19
Solved #21

[2018-12-06 15:31] #19 closed

[2018-12-06 15:32] monsij commented on #8
Assigned @nguptaa

[2018-12-06 15:32] monsij commented on #8
Sorry @nguptaa , Let @arpit3018 wind up his work with this first

[2018-12-06 15:45] arpit3018 commented on #8
Hey. do we need that usernames in the admin panel like this? Look the below link for the image
[https://ibb.co/w6kbT9L](url)

[2018-12-06 15:48] arpit3018 commented on #8
![screenshot from 2018-12-06 21-11-38](https://user-images.githubusercontent.com/33262874/49594669-689af400-f99c-11e8-96d4-1be3d5662abe.png)

[2018-12-06 16:15] monsij commented on #8
Need means?...Do you want to alter the formatting? @arpit3018

[2018-12-06 16:18] harry-hov commented on #25
working on it

[2018-12-06 16:19] monsij opened #26 "Screenshots update"
The files at `./screenshots` seems to be out-of-date. We need an updated versions of these

[2018-12-06 16:19] arpit3018 commented on #8
I mean to save that earlier it is showing some meaning less info on  **f'{self.user.username} Profile'** but after change it to **self.user.username**. It now shows the name of the user. So is it right or should I change something?

[2018-12-06 16:21] monsij commented on #8
Please put the screenshots in either case 🍶

[2018-12-06 16:23] arpit3018 commented on #8
![screenshot from 2018-12-06 21-52-37](https://user-images.githubusercontent.com/33262874/49596866-4d7eb300-f9a1-11e8-9d9a-c976c0d35f78.png)
![Uploading Screenshot from 2018-12-06 21-52-48.png…]()

[2018-12-06 16:23] arpit3018 commented on #8
![screenshot from 2018-12-06 21-52-37](https://user-images.githubusercontent.com/33262874/49596866-4d7eb300-f9a1-11e8-9d9a-c976c0d35f78.png)
![screenshot from 2018-12-06 21-52-48](https://user-images.githubusercontent.com/33262874/49596869-4e174980-f9a1-11e8-81b0-22dad909ff8f.png)

[2018-12-06 16:30] monsij commented on #8
Yup. It's working fine right with the existing code?

[2018-12-06 16:31] arpit3018 commented on #8
Nope. I Changed it to **self.user.username + ' Profile'**

[2018-12-06 16:34] monsij commented on #8
But it's working fine with `f'{self.user.username} Profile'` for me

[2018-12-06 16:34] monsij commented on #8
Marking this issue as stale.Will continue on it later . Thanks @arpit3018

[2018-12-06 16:36] arpit3018 commented on #8
This is not working for me. It is showing the error which was mention above by @gopavasanth. Have a look at it @monsij

[2018-12-06 16:36] monsij commented on #8
Unless it shows error during deployment..it cant be changed

[2018-12-06 16:37] arpit3018 commented on #8
No issues. Thanks

[2018-12-06 16:42] monsij opened #27 "Portal tab title"
**Describe the bug**
Tab heading wrongly hows "Blog home"

**Expected behavior**
The tab heading should be something like "Student Portal"

**Screenshots**
![tab](https://user-images.githubusercontent.com/23289387/49598055-ced74500-f9a3-11e8-9f74-2a74fde73e24.PNG)

[2018-12-06 16:44] monsij opened #28 "Portal tab title"
**Describe the bug**
The tab title wrongly shows "Blog Home"

**Expected behavior**
It should be renamed to something such as "Student Portal"

**Screenshots**
![tab](https://user-images.githubusercontent.com/23289387/49598242-37262680-f9a4-11e8-8926-a4d94edb789b.PNG)

[2018-12-06 16:47] #28 closed

[2018-12-06 16:47] monsij commented on #28
Redundant #27

[2018-12-06 17:14] r3trd opened #29 "New tab redirect"
Make the profile of contributor to open in new tab in the browser.

[2018-12-06 17:15] monsij commented on #29
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/3 (Add Contributors page), https://github.com/monsij/StudentPortal/issues/25 (Enhancements to contributors page), and https://github.com/monsij/StudentPortal/issues/28 (Portal tab title).

[2018-12-06 17:42] nguptaa commented on #27
I want to work on it.

[2018-12-06 17:46] monsij commented on #27
Sorry @nguptaa but you are already assigned an issue.

[2018-12-06 18:10] monsij opened #32 "static profile pages"
The present code imports the profile pictures from `./pro1/blog/static/blog/images`. As expected it increases the overall storage requirement. Import these directly from servers.

Advantage:

- Less to store
- Updates automatically if user changes one

[2018-12-06 18:11] monsij commented on #32
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/3 (Add Contributors page), and https://github.com/monsij/StudentPortal/issues/25 (Enhancements to contributors page).

[2018-12-06 20:13] Tiyas-13 commented on #29
I would like to work on this.

[2018-12-06 20:14] monsij commented on #29
Assigned : @Tiyas-13

[2018-12-07 00:37] harry-hov commented on #25
Done working on this. Please take a look @monsij

[2018-12-07 06:18] Tiyas-13 opened #35 "Add Confirmation Button to Download Tabs"
**Is your feature request related to a problem? Please describe.**
The Download tabs like Academic Calender , Holidays, are permanently in view on all pages. Clicking on these tabs downloads the files directly without any confirmation. As a result the files get downloaded multiple times because people have a tendency to click on the links repeatedly.

**Describe the solution you'd like**
Confirmat

[2018-12-07 06:20] monsij commented on #35
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/3 (Add Contributors page), https://github.com/monsij/StudentPortal/issues/29 (New tab redirect), https://github.com/monsij/StudentPortal/issues/27 (Portal tab title), https://github.com/monsij/StudentPortal/issues/28 (Portal tab title), and https://github.com/monsij/StudentPortal/issu

[2018-12-07 07:57] BhanuPrakashNani opened #38 "Find and fix Typos"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-12-07 07:58] monsij commented on #38
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/4 (Bootstrap typo), and https://github.com/monsij/StudentPortal/issues/8 (Typo in /pro1/users/models.py  ).

[2018-12-07 08:58] monsij commented on #27
Assigned : @Tiyas-13

[2018-12-07 09:16] monsij commented on #29
Solved : #34

[2018-12-07 09:16] #29 closed

[2018-12-07 10:03] harry-hov commented on #35
I would like to work on this.

[2018-12-07 10:05] monsij commented on #35
@harry-hov let your PR get approved xD

[2018-12-07 10:16] harry-hov commented on #35
sure @monsij 😄

[2018-12-07 10:50] nguptaa commented on #35
I would love to work on this

[2018-12-07 11:36] monsij opened #39 "IP not displayed"
**Describe the bug**
The recently added feature is not showing time and IP . Weather part is working fine

**Screenshot**
![weather](https://user-images.githubusercontent.com/23289387/49645553-67240700-fa42-11e8-8fe8-fcc995658162.PNG)

**Update**
The IP is showing up on localhost but not on the deployed version.
![wid2](https://user-images.githubusercontent.com/23289387/49663147-c5b5a900-fa73-11e8

[2018-12-07 11:38] monsij commented on #39
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/19 (Unusual display size), and https://github.com/monsij/StudentPortal/issues/20 (Current dynamic date,time,weather and user IP).

[2018-12-07 11:45] #20 closed

[2018-12-07 11:54] monsij commented on #27
@Tiyas-13 : An update to the task is every page of the portal is showing up "Blog Home" as the title page. So changes are required to made accordingly.

[2018-12-07 13:26] monsij opened #40 "Unequal height"
**Describe the bug**
A card for one of the contributors has a greater height than others.

**Screenshot**
![height](https://user-images.githubusercontent.com/23289387/49650298-c63d4800-fa51-11e8-8f32-6282493b8176.PNG)

[2018-12-07 13:35] harry-hov commented on #40
im on it

[2018-12-07 13:37] monsij commented on #40
Assigned : @harry-hov

[2018-12-07 13:50] harry-hov commented on #40
done

[2018-12-07 15:31] nguptaa commented on #39
I'll have a look

[2018-12-07 17:04] Tiyas-13 commented on #27
Noted

[2018-12-07 17:30] monsij commented on #32
Solved : #33

[2018-12-07 17:31] #32 closed

[2018-12-07 17:32] monsij commented on #40
Solved: #41

[2018-12-07 17:32] #40 closed

[2018-12-07 17:35] monsij commented on #25
Using access tokens, the quantity of commits and reviews is to made visible.

[2018-12-07 17:36] monsij commented on #35
@nguptaa  Would you like to work on this?

[2018-12-07 17:38] monsij commented on #35
Assigned : @nguptaa

[2018-12-07 18:08] monsij opened #43 "Placements/Internships updates"
Create a framework for uploading updates in the `interviews` app so that new news can be uploaded with Ease. Create a provision for filtering based on company as well

[2018-12-07 18:09] monsij commented on #43
[GitMate.io](https://gitmate.io) thinks a possibly related issue is https://github.com/monsij/StudentPortal/issues/26 (Screenshots update).

[2018-12-08 05:02] monsij opened #46 "Travis CI configuration"
The repository doesn't has a continuous integration service. Add one to continuously build the project with every `merge`.

[2018-12-08 05:04] nguptaa commented on #46
I would like to work on this.

[2018-12-08 05:04] monsij commented on #46
Would you like to leave previously assigned issue?

[2018-12-08 05:05] monsij commented on #46
Or work simultaneously

[2018-12-08 05:05] nguptaa commented on #46
No. we can be assigned to max two issues right?

[2018-12-08 05:06] monsij commented on #46
Great! Be sure to send PRs from different branches for these issues

[2018-12-08 05:08] monsij commented on #46
Assigned : @nguptaa

[2018-12-08 05:15] monsij opened #47 "Improved user profile page"
The present profile page does not contains much information. Modify it to show things like
- Name
- Email address
- Year( calculated from email id)
- Department( you can take this information during registration but in the form of drop down menu...options will be (CS/EC/EE/IT/MM/ME/CH/CE/BT)

[2018-12-08 05:16] monsij commented on #47
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/32 (static profile pages), https://github.com/monsij/StudentPortal/issues/3 (Add Contributors page), https://github.com/monsij/StudentPortal/issues/2 (Improve background CSS), https://github.com/monsij/StudentPortal/issues/25 (Enhancements to contributors page), and https://github.com

[2018-12-08 06:31] monsij commented on #46
Add only a `.travis.yml` file

[2018-12-08 08:12] monsij commented on #39
Solved: #44

[2018-12-08 08:13] #39 closed

[2018-12-08 08:13] monsij commented on #27
Solved : #45

[2018-12-08 08:13] #27 closed

[2018-12-08 09:14] nguptaa commented on #46
@monsij Should choose the pro1 repository right?

[2018-12-08 13:17] monsij commented on #46
Hurray! Completed thanks to @nguptaa

[2018-12-08 13:17] #46 closed

[2018-12-08 16:55] gutsytechster commented on #43
Hey @monsij !
Can you help me getting what is needed for this?
I mean do you need a page to upload the news and other things or something else?

[2018-12-08 17:21] monsij commented on #43
Yes @gutsytechster . Will contain updates in a posts format each containing label of a company. Each post will contain some information, maybe the students selected or maybe the scheduled interview date and location.

[2018-12-08 17:25] monsij opened #50 "Codecov coverage configuration"
The coverage for this repo hasn't been tested yet. It requires several testing techniques with some modifications in `.travis.yml` . More info at [Codecove.io](https://docs.codecov.io/docs)

[2018-12-08 18:22] monsij commented on #47
Assigned : @harry-hov

[2018-12-08 18:32] monsij opened #52 "README update"
The present `README.md`  looks very limited and brief. A makeover to it is required addressing possibilities ranging from handling virtual environments, frequently encountered bugs to other configuration details.

[2018-12-08 18:33] Tiyas-13 commented on #52
I would like to work on this.

[2018-12-08 18:33] monsij commented on #52
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/26 (Screenshots update), and https://github.com/monsij/StudentPortal/issues/43 (Placements/Internships updates).

[2018-12-08 18:34] monsij commented on #52
Assigned : @Tiyas-13

[2018-12-08 19:00] akashgiricse commented on #52
Please add instruction for configuring environment variable using **python-decople** in README.md.
Add an instruction as following
<br>
----
* Create a file named `.env` in project's root directory (i.e. inside **pro1**, where `.env.example` reside)
and copy the content from `.env.example` file and paste it in `.env` file.
----
Add the above instruction in **How to use** section just after **Activ

[2018-12-08 19:03] Tiyas-13 commented on #52
Noted.

[2018-12-08 19:38] monsij opened #53 "Improvised study zone"
Give a better look to the study zone. Also under each department add category for year. A drop down menu format would be highly desirable

[2018-12-08 20:16] monsij opened #54 "Add all local contacts"
The contacts list is not yet complete. Add rest of them like restaurants, medical store etc.

P.S : Can be obtained by a local student only.

[2018-12-08 20:17] Tiyas-13 commented on #54
Would like to do this.

[2018-12-08 20:17] monsij commented on #54
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/3 (Add Contributors page), https://github.com/monsij/StudentPortal/issues/22 (Add all packages in a new file), https://github.com/monsij/StudentPortal/issues/14 (Add Python Decouple), and https://github.com/monsij/StudentPortal/issues/35 (Add Confirmation Button to Download Tabs).

[2018-12-09 01:18] dipanshu231099 commented on #53
i will try to work on it. Upon improving this.

[2018-12-09 04:03] monsij commented on #53
Assigned : @dipanshu231099

[2018-12-09 04:42] #54 closed

[2018-12-09 07:52] nguptaa commented on #50
I would like to work on this.

[2018-12-09 07:54] monsij commented on #50
Assigned : @nguptaa

[2018-12-09 09:40] gutsytechster commented on #43
Hey can I be assigned to it @monsij!

[2018-12-09 10:08] monsij commented on #43
Assigned : @gutsytechster

[2018-12-09 11:36] gutsytechster commented on #43
![internship_admin](https://user-images.githubusercontent.com/31796326/49696745-b306b580-fbd4-11e8-8890-03679e74487b.png)

[2018-12-09 11:39] gutsytechster commented on #43
Hey @monsij, this is how it looks if we use Django's admin panel to create entries for internships.
Though only admin would be allowed to do that. It means not even a login user to your system can do that. There would be other credentials for entering into django's admin panel created by django command `python manage.py createsuperuser
`

[2018-12-09 11:40] monsij commented on #43
Add more fields like dept open to, extra information

[2018-12-09 12:46] monsij commented on #26
Open to assign

[2018-12-09 12:56] monsij opened #56 "Contributors page update"
The present contributors page shows : no.of repositories, following and followers for each. However this is not significant for this project. The following things are required in that case:

- No of commits made by that user in this repository
- Maintainer/Owner/Contributor

[2018-12-09 12:58] monsij commented on #56
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/3 (Add Contributors page), https://github.com/monsij/StudentPortal/issues/25 (Enhancements to contributors page), https://github.com/monsij/StudentPortal/issues/52 (README update), https://github.com/monsij/StudentPortal/issues/43 (Placements/Internships updates), and https://github.c

[2018-12-09 13:02] monsij opened #57 "Relocation of sidebar"
The sidebar presently occupies a lot of place being almost in the middle of the right part of the page. Align it to the bottom with a possible design as shown below:
![sidebar](https://user-images.githubusercontent.com/23289387/49697695-9e301f00-fbe0-11e8-82b5-b994180d7a75.PNG)

[2018-12-09 13:42] gutsytechster commented on #43
Yeah! this was just a prototype. I would add more fields as required.

[2018-12-09 23:34] harry-hov commented on #57
i want to work on this

[2018-12-10 04:11] monsij commented on #57
Assigned : @harry-hov

[2018-12-10 11:38] Aman8817 commented on #26
Sorry Sir for my late responses in my work. Actually my uncle expired
before 5 days , so I wouldn't always be available for next few days .

On Sun 9 Dec, 2018, 6:16 PM Monsij Biswal <notifications@github.com wrote:

[2018-12-10 11:40] monsij commented on #26
Yeah, no problem @Aman8817

[2018-12-10 16:42] monsij commented on #53
@dipanshu231099 : You only change the study app. :-)

[2018-12-10 17:01] dipanshu231099 commented on #53
actually i have written for the designing part only.

[2018-12-10 17:02] dipanshu231099 commented on #53
i wanted to join for css/html...is this not the correct zone for it?

[2018-12-10 17:06] dipanshu231099 commented on #2
sir i also wish to be added to improve background using the html/css.

[2018-12-10 18:18] monsij commented on #52
Solved : #62

[2018-12-10 18:18] #52 closed

[2018-12-10 18:33] monsij opened #63 "Study zone for 1st year"
The first years aren't able to access their official email ids early in the college. So the study zone for them needs to be made accessible without login.

[2018-12-10 18:34] Tiyas-13 commented on #63
I would like to work on this

[2018-12-10 18:34] monsij commented on #63
[GitMate.io](https://gitmate.io) thinks a possibly related issue is https://github.com/monsij/StudentPortal/issues/53 (Improvised study zone).

[2018-12-10 20:07] gutsytechster commented on #43
![out](https://user-images.githubusercontent.com/31796326/49758549-462f1080-fce5-11e8-93ce-a539fb6c4096.gif)

[2018-12-10 20:10] gutsytechster commented on #43
Hey @monsij, how does this layout look to you? For detailed information, the user will click on the `know more about it` link and the page will be redirected to the page containing detailed information.
I have yet to design that page. Before that I want to make sure if this page looks good to you!

[2018-12-11 05:08] monsij commented on #43
Awesome ! . Just change "know more about it" to "More" and squash your commits if you haven't done so.

[2018-12-11 05:15] monsij commented on #50
Solved: #64

[2018-12-11 05:15] #50 closed

[2018-12-11 05:47] nguptaa opened #65 "Add Codecov badge in README.md"
Since Codecov has already been added to the repository, add a Codecov badge to README.md file.

[2018-12-11 05:48] monsij commented on #65
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/52 (README update), https://github.com/monsij/StudentPortal/issues/50 (Codecov coverage configuration), https://github.com/monsij/StudentPortal/issues/3 (Add Contributors page), and https://github.com/monsij/StudentPortal/issues/14 (Add Python Decouple).

[2018-12-11 05:55] #65 closed

[2018-12-11 05:59] nguptaa commented on #56
I would like to work on this.

[2018-12-11 06:08] monsij commented on #56
Assigned : @nguptaa

[2018-12-11 07:54] monsij commented on #63
Assigned @Tiyas-13

[2018-12-11 07:55] monsij commented on #53
No @dipanshu231099

[2018-12-11 18:39] harry-hov commented on #47
year = admission year ?
or
year of study(i.e 1st year, 2nd year etc)?

[2018-12-12 06:06] rahulotwani opened #66 "Update readme.md"
can be made a bit more user friendly

[2018-12-12 06:07] monsij commented on #66
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/52 (README update), https://github.com/monsij/StudentPortal/issues/26 (Screenshots update), https://github.com/monsij/StudentPortal/issues/65 (Add Codecov badge in README.md), https://github.com/monsij/StudentPortal/issues/43 (Placements/Internships updates), and https://github.com/mo

[2018-12-12 06:07] rahulotwani commented on #2
Please assign me to this issue

[2018-12-12 06:41] monsij commented on #47
Year of study @harry-hov

[2018-12-12 06:44] monsij commented on #2
Already @harry-hov  is working on it . @rahulotwani  @dipanshu231099

[2018-12-12 21:08] harry-hov commented on #47
How can i calculate this from email?
Is there any special format of email ?
@monsij

[2018-12-13 13:03] #57 closed

[2018-12-13 13:03] monsij commented on #57
Solved : #58

[2018-12-13 13:42] harry-hov opened #67 "Fix About Us section in Footer"
**Describe the bug**
About Us section in Footer needs to be Updated.
There is no break between different sentences.

**Expected behavior & solution**
There is need of `<br>` in some places.
it should look something like this.
![screenshot 49](https://user-images.githubusercontent.com/37576387/49941459-920dcf80-ff08-11e8-9bd2-03c5749c4168.png)

**Current Screenshots**
Read the last line, don't you

[2018-12-13 13:43] monsij commented on #67
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/12 (Footer redirect), and https://github.com/monsij/StudentPortal/issues/38 (Find and fix Typos).

[2018-12-13 13:50] monsij commented on #67
@Tiyas-13 : Would you like to take up this one?

[2018-12-13 13:52] udaymewada commented on #67
I would like to work on this

[2018-12-13 14:02] monsij commented on #67
Assigned : @udaymewada

[2018-12-13 15:49] YashviP commented on #26
I will work on this

[2018-12-13 15:52] monsij commented on #26
Assigned : @YashviP

[2018-12-13 17:14] monsij opened #68 "Link Hover"
**Describe the bug**
Hovering over it makes it grey in colour and hence less visible. Change it appropriately

**Screenshot**
![hover](https://user-images.githubusercontent.com/23289387/49955339-94802180-ff28-11e8-8038-bc9153c2850b.PNG)

[2018-12-13 17:16] udaymewada commented on #68
I will work on it

[2018-12-13 17:17] monsij commented on #68
@udaymewada Please wind up the issue assigned to you before

[2018-12-13 18:06] YashviP commented on #68
i will work on it

[2018-12-13 18:06] monsij commented on #68
Assigned : @YashviP

[2018-12-15 04:10] monsij opened #72 "Chanakya portal link change"
The Chanakya link has migrated to http://14.139.221.18:9001. Make this change in the portal

[2018-12-15 04:11] monsij commented on #72
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/68 (Link Hover), https://github.com/monsij/StudentPortal/issues/28 (Portal tab title), and https://github.com/monsij/StudentPortal/issues/27 (Portal tab title).

[2018-12-15 13:10] monsij commented on #72
@chauhannishh You may work on this

[2018-12-16 06:06] rahulotwani commented on #72
i can do this

[2018-12-16 06:12] monsij commented on #72
Assigned : @rahulotwani

[2018-12-16 16:05] monsij opened #79 "Page title format"
**Describe the bug**
The pages have title as `StudentPortal:Interviews` . Change it to `Interviews`

[2018-12-16 16:06] monsij commented on #79
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/47 (Improved user profile page), https://github.com/monsij/StudentPortal/issues/27 (Portal tab title), https://github.com/monsij/StudentPortal/issues/28 (Portal tab title), https://github.com/monsij/StudentPortal/issues/32 (static profile pages), and https://github.com/monsij/StudentP

[2018-12-16 17:07] gutsytechster commented on #43
![internship-page](https://user-images.githubusercontent.com/31796326/50056502-19ff0e00-0183-11e9-9855-b97b2fef03c2.png)

[2018-12-16 17:08] gutsytechster commented on #43
Hey @monsij, this is how the details will be displayed. Does it look ok?

[2018-12-16 17:36] gutsytechster commented on #43
![internship-page2](https://user-images.githubusercontent.com/31796326/50056764-22594800-0187-11e9-8c86-87a61b09e396.png)

[2018-12-16 17:36] gutsytechster commented on #43
Or does it look better?
@monsij ^^

[2018-12-16 17:45] chauhannishh commented on #79
I want to work on this issue.

[2018-12-16 17:50] monsij commented on #43
The [previous one](https://github.com/monsij/StudentPortal/issues/43#issuecomment-447659272) is better

[2018-12-16 17:50] monsij commented on #43
Is the one to be displayed after clicking on "More details" ? @gutsytechster

[2018-12-16 17:52] monsij commented on #79
Assigned : @chauhannishh

[2018-12-16 18:35] gutsytechster commented on #43
![placement-admin](https://user-images.githubusercontent.com/31796326/50057365-5cc6e300-018f-11e9-8dfb-5de0e945ca9a.png)

[2018-12-16 18:36] gutsytechster commented on #43
Also are these parameter enough for placments?
I was thinking of adding `job designation`, `qualification needed`, `experience needed`, `last date to apply`.
What do you think about it?

[2018-12-16 18:38] monsij commented on #43
Add them.will modify them later

[2018-12-16 20:09] #68 closed

[2018-12-16 20:10] #72 closed

[2018-12-16 20:10] #66 closed

[2018-12-16 20:10] #35 closed

[2018-12-17 06:31] monsij commented on #79
Solved : #80

[2018-12-17 06:31] #79 closed

[2018-12-17 07:48] monsij opened #83 "User data not displayed"
**Describe the bug**
The contributor info is not rendering properly

**Screenshot**
![render](https://user-images.githubusercontent.com/23289387/50073299-32f8d500-01fe-11e9-8eea-240b878dbdf8.PNG)

[2018-12-17 07:49] monsij commented on #83
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/39 (IP not displayed), https://github.com/monsij/StudentPortal/issues/19 (Unusual display size), https://github.com/monsij/StudentPortal/issues/47 (Improved user profile page), https://github.com/monsij/StudentPortal/issues/8 (Typo in /pro1/users/models.py  ), and https://github.com/m

[2018-12-17 09:43] #83 closed

[2018-12-17 10:12] monsij commented on #53
Unassigned to due inactivity

[2018-12-19 11:17] monsij opened #86 "Custom error pages"
**Is your feature request related to a problem? Please describe.**
Whenever we run into a page address where nothing exists , we get a standard error page by Django, something like this:
![server_error](https://user-images.githubusercontent.com/23289387/50216594-33cf6980-03ac-11e9-9e61-6a62e152f620.PNG)

**Describe the solution you'd like**
We have some custom error pages designed at `/.github/ERR

[2018-12-19 11:18] monsij commented on #86
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/32 (static profile pages), https://github.com/monsij/StudentPortal/issues/3 (Add Contributors page), https://github.com/monsij/StudentPortal/issues/47 (Improved user profile page), https://github.com/monsij/StudentPortal/issues/56 (Contributors page update), and https://github.com/mon

[2018-12-19 11:20] nguptaa commented on #86
I would like to work on this.

[2018-12-19 11:22] monsij commented on #86
Assigned : @nguptaa

[2018-12-19 11:30] monsij opened #87 "User login & register page makeover"
**Describe the solution you'd like**
The present login and register view is pretty old-fashioned. Craft a new page to give it a more impressive and professional look. 🥇

**Additional context**
You may like to see below what may the new UI look like:

![desktop](https://user-images.githubusercontent.com/23289387/50217546-f7513d00-03ae-11e9-851c-799e1c816aed.PNG)

![mobile](https://user-images.githu

[2018-12-19 11:30] monsij commented on #87
[GitMate.io](https://gitmate.io) thinks a possibly related issue is https://github.com/monsij/StudentPortal/issues/47 (Improved user profile page).

[2018-12-19 11:57] nguptaa commented on #87
Can i work on this too ? @monsij

[2018-12-19 12:10] monsij commented on #87
Yeah sure. But make a point you do it fast. Also if you aren't working on #56 , comment so

[2018-12-19 15:03] monsij commented on #87
Assigned : @nguptaa

[2018-12-19 15:03] monsij commented on #56
Open to assign

[2018-12-20 05:54] monsij commented on #67
Solved : #70

[2018-12-20 05:54] #67 closed

[2018-12-20 05:55] monsij opened #89 "Extra parantheses"
`README.md` contains an extra bracket in the Contributors section.

[2018-12-20 07:15] udaymewada commented on #89
I will work on it.

[2018-12-20 08:41] monsij commented on #89
Assigned @udaymewada

[2018-12-20 09:07] nguptaa opened #90 "Webpage not loading in localhost server"
Webpage not loading in localhost server (Server Error 500)

![screenshot 2018-12-20 at 2 27 37 pm](https://user-images.githubusercontent.com/22504975/50273747-9899cb00-0463-11e9-9f81-52151ba6677d.png)

[2018-12-20 09:09] monsij commented on #90
Hey @nguptaa for server purposes , debug has been set `False`. set it `True` on your local copy to get it running

[2018-12-20 09:21] monsij commented on #90
If it's solved, close the issue @nguptaa

[2018-12-20 09:23] #90 closed

[2018-12-20 12:16] arpit3018 commented on #56
I would like to work on it.

[2018-12-20 12:20] monsij commented on #56
Assigned : @arpit3018

[2018-12-21 11:36] #43 closed

[2018-12-21 11:38] monsij commented on #43
Solved : #84

[2018-12-21 14:44] monsij opened #94 "Add debug instruction"
Many newcomers are facing the issue of running the app locally due to Debug settings. Hence we need to add instructions for `Debug` in `README.md`.

[2018-12-21 14:45] monsij commented on #94
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/monsij/StudentPortal/issues/54 (Add all local contacts), https://github.com/monsij/StudentPortal/issues/3 (Add Contributors page), https://github.com/monsij/StudentPortal/issues/14 (Add Python Decouple), https://github.com/monsij/StudentPortal/issues/22 (Add all packages in a new file), and https://github.com/mo

[2018-12-21 15:43] monsij opened #95 "Open/Close Label"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
From the main interview page, we want a label to show where applying date for the company has crossed or not i.e Open/Closed

**Describe alternatives you've considered**
A label on the front page as sho

[2018-12-21 15:45] harry-hov commented on #47
Actually i was too busy this week with college assignments.
I'll push PR regarding this issue before this Sunday.

[2018-12-21 16:03] nguptaa commented on #87
@monsij Working on it. was little busy so couldn't complete it earlier.

[2018-12-21 18:38] arpit3018 commented on #56
![screenshot from 2018-12-22 00-06-18](https://user-images.githubusercontent.com/33262874/50357908-975cc100-057d-11e9-9f34-da70c27abf66.png)
Showing is error page on running the project

[2018-12-21 19:01] monsij commented on #56
@arpit3018 set debug true in settings.py

[2018-12-22 02:07] monsij commented on #14
Solved : #51

[2018-12-22 02:08] #14 closed

[2018-12-22 06:44] monsij commented on #87
@nguptaa  Integrate using the files attached
[Login_v3.zip](https://github.com/monsij/StudentPortal/files/2704872/Login_v3.zip)

[2018-12-22 11:53] gutsytechster commented on #95
Hey @monsij, I 'd like to work on this issue!
Also, I'd like to work on all the remaining UI changes for this.

[2018-12-22 13:02] monsij commented on #95
Assigned : @gutsytechster

[2018-12-22 19:01] monsij commented on #87
Open for assignment

[2018-12-23 18:04] gutsytechster commented on #95
![form-buttons](https://user-images.githubusercontent.com/31796326/50386393-47136980-070b-11e9-8fa3-15382f60758f.png)

[2018-12-23 18:05] gutsytechster commented on #95
Hey @monsij, how does these button look?

[2018-12-23 18:05] monsij commented on #95
🥇

[2018-12-23 18:07] monsij commented on #95
Another , either green or red (open/closed)...so make this form button anything other than red or green

[2018-12-23 18:13] gutsytechster commented on #95
![button-dark-blue](https://user-images.githubusercontent.com/31796326/50386449-91e1b100-070c-11e9-9f9b-67feef27397e.png)

[2018-12-23 18:13] gutsytechster commented on #95
![button-light-blue](https://user-images.githubusercontent.com/31796326/50386451-99a15580-070c-11e9-9efa-1349a52b68c7.png)

[2018-12-23 18:14] gutsytechster commented on #95
Which one looks good? @monsij

[2018-12-23 18:17] monsij commented on #95
Reacted!

[2018-12-24 07:42] monsij commented on #56
open for assigning

[2018-12-24 14:59] gutsytechster commented on #95
![label](https://user-images.githubusercontent.com/31796326/50402189-949adf80-07ba-11e9-94a7-a726c694b798.png)

[2018-12-24 15:10] gutsytechster commented on #95
@monsij ^^

[2018-12-24 16:53] monsij commented on #95
@gutsytechster : Open up a PR

[2018-12-24 18:04] #95 closed

[2018-12-24 18:04] monsij commented on #95
Solved #97

[2018-12-25 23:55] harry-hov commented on #47
![screenshot 62 _li](https://user-images.githubusercontent.com/37576387/50427438-71615480-08ce-11e9-95fd-62893fa83fac.jpg)

![screenshot 63 _li](https://user-images.githubusercontent.com/37576387/50427445-7aeabc80-08ce-11e9-93fe-0dc5377e3339.jpg)

![screenshot 65 _li](https://user-images.githubusercontent.com/37576387/50427446-7faf7080-08ce-11e9-90d2-27ccced25acd.jpg)

[2018-12-25 23:55] harry-hov commented on #47
any improvements ? @monsij

[2018-12-26 05:40] monsij commented on #47
Nope. Open up a PR

[2018-12-26 06:52] monsij commented on #47
@harry-hov : Did you miss out enlisting Mechanical department ?

[2018-12-26 07:39] chauhannishh commented on #56
I would like to work upon this issue.

[2018-12-26 07:55] monsij commented on #56
Assigned : @chauhannishh

[2018-12-26 13:53] monsij commented on #63
Solved : #91

[2018-12-26 13:54] #63 closed

[2018-12-27 03:06] nguptaa commented on #94
I would like to work on this.

[2018-12-27 03:31] monsij commented on #94
Assigned : @nguptaa

[2019-01-30 10:16] rahulotwani opened #100 "Feature to upload in the study zone and addition of staff user with only upload rights"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-02-02 05:42] JayjeetAtGithub opened #101 "Handle SMTP Authentication Correctly"
If an invalid email address is supplied , currently the app breaks. This should be rectified to show an alert that an invalid email address was provided

[2019-02-02 06:43] monsij commented on #101
@JayjeetAtGithub : I dont see the app breaking. Are you referring to something else?
![incorrect](https://user-images.githubusercontent.com/23289387/52160935-f74d9800-26e3-11e9-85dd-0657243bec54.PNG)

[2019-02-02 07:12] JayjeetAtGithub commented on #101
@monsij
![error](https://user-images.githubusercontent.com/33978990/52161207-b6f01900-26e7-11e9-971a-ba913eff7bf6.png)

This error comes if you use **testtest@btech.nitdgp.ac.in** as email id.

[2019-02-02 07:24] JayjeetAtGithub opened #102 "Add the register page link on login page"
The register page link `/register` should be present on the login screen , otherwise it is a bad user experience